<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %></li>

</ul>

    <% if (comment.approved? == false) && policy(comment).update? %>
      <%= button_to "Approve", [@post, comment], method: "put" %>
    <% end %>
    <% if policy(comment).destroy? %>
      <%= button_to "Deny", [@post, comment], method: "delete" %>
    <% end %>

  <% end %>

