<h1 style="font-family:arial;color:blue;font-size:50px;text-align:center;"> Welcome to Tina's Portfolio! </h1>

<h3 style="font-family:arial;color:green;font-size:30px;text-align:center">You've come to the right place to find great technical insights, tutorials and much more.</h3>
<br></br>
<p style="font-family:arial;font-size:30px;text-align:center"><%= link_to 'Enter the Blog',posts_path %></p>
