<h1> Welcome to Tina's Portfolio! </h1>

<h3>You've come to the right place to find great technical insights, tutorials and much more.</h3>
<br></br>
<p><%= link_to 'Enter the Blog',posts_path %></p>
