<h1 style="font-family:arial;color:blue;font-size:50px;text-align:center;"> Welcome to Tina's Portfolio! </h1>

<h3 style="font-family:arial;color:green;font-size:30px;text-align:center">Pay me well to write clean code. Six figure minimum.</h3>
