<br>
<br>
<br>
<h1 style="text-align: center;"> Welcome to Tina's Portfolio! </h1>

<h3 style="text-align: center;">You've come to the right place to find great technical insights, tutorials and much more.</h3>
<br></br>

    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h3><i class="icon-ok-circle"></i>Read my latest blog Post</h3>
            <p>Here you'll find a lot of good information for newbies and beyond</p>
            <p><%= link_to 'Enter the Blog',posts_path %></p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><i class="icon-pencil"></i> View my portfolio</h3>Browse some of the cool stuff I've built
            </p>
            <p><%= link_to 'See My Portfolio',projects_path %></p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><i class="icon-folder-open-alt"></i>About Me</h3>Learn more about me and view contact information. I'd love to hear your thoughts!
            <p></p>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->


